<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Lambda name="Lambda">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %X{AWS-XRAY-TRACE-ID} %-5p %c:%L - %m%n" />
        </Lambda>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Lambda"/>
        </Root>
    </Loggers>
</Configuration>